body, html{
	font-family: 'Arimo', sans-serif; 
  background-image: url("jpg/bgimg.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  display: contents;
  max-width: 2000px;
  position: absolute;
  padding: 0 200px;
}
br {
  line-height: 0.7;
}
h1{
  text-align: center;
  padding: 0;
  margin: 10px;
}
h3{
  text-align: left;
  padding: 0px 15px;
}
.phone{
  position: absolute;
  right: 0;
  padding: 0 200px;
  margin: -15px 0;
}
.phone a{
  text-decoration: none;
  color: black;
  border-radius: 5px;
  padding: 2px;
  box-shadow: 0px 3px 3px rgba(0,0,0,0.16), 0px 3px 3px rgba(0,0,0,0.10);
transition: color .5s box-shadow .5s;}
  .phone a:hover {
    color: dimgrey;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.16), 0px 3px 10px rgba(0,0,0,0.1);
  }
.e-mail a{
  text-decoration: none;
  color: black;
  border-radius: 5px;
  padding: 2px;
  box-shadow: 0 3px 3px rgba(0,0,0,0.16), 0 3px 3px rgba(0,0,0,0.10);
  transition: color .5s box-shadow .5s;}
  .e-mail a:hover {
    color: dimgrey;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.16), 0px 3px 10px rgba(0,0,0,0.1);
  }
.e-mail{
  position: absolute;
  left: 0;
  padding: 0 200px;
  margin: -5px 0;
}
.name{
background-color: rgba(136, 136, 136, 0.2);
border-radius: 5px;
padding: 2px;
margin: 10px;
}
h2{
  text-align: center;
}

.summary{
  height: 100%;
  width: 100%;
  margin: auto;
  padding: 1px;
  background-image: url("jpg/bgimg4.png") ;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
  margin: 5px 0px;
  /*box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);*/
}
.skillsandcompetencies{
  height: 100%;
  width: 100%;
  margin: auto;
  padding: 1px;
  background-image: url("jpg/bgimg4.png") ;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
  margin: 5px 0px;
  }
  .experience{
  height: 100%;
  width: 100%;
  margin: auto;
  padding: 1px;
  background-image: url("jpg/bgimg4.png") ;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
  margin: 5px 0px;
}
.education{
  height: 100%;
  width: 100%;
  margin: auto;
  padding: 1px;
  background-image: url("jpg/bgimg4.png") ;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
  margin: 5px 0px;
  }
/*.education{    
    font-family: Arial, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    box-sizing: inherit;
    height: 100%;
    background-color: #fff;
    position: fixed!important;
    z-index: 1;
    overflow: auto;
    width: 260px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    top: 450px;
    left: 0;
    display: block;
}*/
.sidenav {
  height: 100%; 
  width: 180px;
  position: fixed; 
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
    background-color: rgba(87, 83, 95, 0.4);
  overflow-x: hidden; 
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; 
   box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.sidenav a {
  padding: 20px 20px 20px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #444444;
  display: block;
  transition: 0.3s;
  outline: 1px solid lightblue;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
#main {
  transition: margin-left .5s;
  padding: 20px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 0px;
    padding-bottom: 0px;}
  .sidenav a {font-size: 18px;}
}
@media screen and (max-width: 800px) {
   .sidenav {width: 10px;
    opacity: 5px;
    transition: width 1s opacity 1s;}
    .sidenav a {color: #C9D4CB}
   .sidenav:hover {opacity: 180px;
    width: 180px;
    background-color: rgba(87, 83, 95, 0.8);
   }
  body, html {padding: 0px 20px;
    margin: 0px 20px;}
  .phone{
  position: absolute;
  right: 0;
  padding: 0 5px;
  margin: -17px 0;
}
.e-mail{
  position: absolute;
  left: 0;
  padding: 0 5px;
  margin: -5px 0;
}
